.bp-line-break {
  position: absolute;
  width: 100%;
  border-top: 1px solid rgba(200, 201, 202, 1);
  top: 7vw;
}

.business-page-container {
  color: #2D2E2F;
  position: relative;
  font-family: Helvetica, sans-serif;
}

.left-side-bar {
  width: 25vw;
  position: absolute;
  color: inherit;
  top: 7.2vh;
  left: 2vw;
}

.filter-bar-container {
  color: inherit;
  font-family: inherit;
}

.filter-title {
  margin-bottom: 2vh;
  font-weight: bold;
  font-size: 1.3vw;
  color: inherit;
}

.filter-btn-group {
  color: inherit;
  font-size: 1vw;
  text-align: center;
  padding: 0.5vh 1.2vw;
  border: none;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.8s;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0.1em;
}

.filter-btn-group:hover {
  background-color:rgb(226, 226, 230);
}

#filter-btn-1 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid rgba(200, 201, 202, 1);
}

#filter-btn-2 {
  border-right: 1px solid rgba(200, 201, 202, 1);
}

#filter-btn-2, #filter-btn-3 {
  border-bottom: 1px solid rgba(200, 201, 202, 1);
  border-top: 1px solid rgba(200, 201, 202, 1);
}

#filter-btn-4 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgba(200, 201, 202, 1);
}

.main-content {
  width: 40vw;
  position: absolute;
  color: inherit;
  top: 7.2vh;
  left: 25vw;
}

.search-result-title {
  color: inherit;
  font-size: 1.5vw;
  font-weight: bold;
  margin-bottom: 1.1vh;
}

.scrollable-result-container {
  overflow-y: auto;
  height: 80vh;
  padding-left: 0px;
}

.scrollable-result-container::-webkit-scrollbar {
  display: none;
}








.right-side-bar {
  width: 35vw;
}






