.bp-line-break {
  position: absolute;
  width: 100%;
  border-top: 1px solid rgba(200, 201, 202, 1);
  top: 7vw;
}

.business-page-container {
  color: #2D2E2F;
  position: relative;
  font-family: Helvetica, sans-serif;
}

.left-side-bar {
  width: 20vw;
  position: absolute;
  color: inherit;
  top: 8.5vh;
  left: 2vw;
}

.main-content {
  width: 45vw;
  position: absolute;
  color: inherit;
  top: 8.5vh;
  left: 22vw;
}

.search-result-title {
  color: inherit;
  font-size: 1.5vw;
  font-weight: bold;
  margin-bottom: 1.1vh;
}

.scrollable-result-container {
  overflow-y: auto;
  height: 78vh;
  padding-left: 0px;
}

.scrollable-result-container::-webkit-scrollbar {
  display: none;
}

.right-side-bar {
  width: 35vw;
  position: absolute;
  left: 68vw;
  top: 8.5vh;
}

.google-map {
  height: 82vh;
}
