.restaurant-container {
  padding: 1.5vw;
  /* border-bottom: 1px solid gray; */
  /* margin: px 20px 0px 20px; */
  border-bottom: 1px solid #EBEBEB;
  cursor: pointer;
  position: relative;
}

.restaurant-container:hover {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  border-left: 1px solid #EBEBEB;
  border-right: 1px solid #EBEBEB;
}

.restaurant-img {

}

.restaurant-img img {
  display: inline-block;
  width: 18vw;
  height: 13vw;
}

.restaurant-info {
  display: inline-block;
  position: absolute;
  top: 3vh;
  margin-left: 2vw;
}

.restaurant-name {
  font-size: 1.6vw;
  font-weight: bold;
  margin-bottom: 1vh;
}

.restaurant-details {
  color: #6E7072;
  font-size: 1vw;
  margin-top: 2.5vh;
}

.restaurant-bg-details {
  width: 8vw;
  display: inline-block;
}

.restaurant-category, .restaurant-price-range {
  letter-spacing: 0.1em;
  background-color: rgba(240, 240, 240, 1);
  border-radius: 4px;
  text-align: center;
  width: 5vw;
  font-weight: 600;
  padding: 1.3vh 0.5vw;
  margin: 0px;
}

.restaurant-category {
  margin-right: 1vw;
}

/* .restaurant-price-range {
  letter-spacing: 0.1em;
  background-color: rgba(240, 240, 240, 1);
  border-radius: 4px;
  text-align: center;
  width: 5vw;
  font-weight: 600;
  padding: 1.3vh 0px;
  margin: 0px;
} */

.restaurant-location {
  margin: 3vh 0px;
}

.city, .state {
  margin-right: 0.5vw;
}
