.see-you-soon-container {
  margin-top: 5.3vw;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.see-you-soon-title {
  font-weight: bold;
  font-size: 2vw;
  color: #2D2E2F;
}

.see-you-soon-title div:first-child {
  margin-bottom: 0.35vw;
}