.followees-list-container {
  margin-top: 0.5em;
}

.followees-title {
  font-size: 3vw;
  font-weight: 900;
  color: #D32323;
  margin-bottom: 1.5vw;
}

.followees-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.followee-container {

}

.MuiAvatar-rounded {
  cursor: pointer;
}

.empty-following-list {
  margin-top: 0.5em;
  font-size: 1.2vw;
  line-height: 1.2em;
  color: #2D2E2F;
}