.reviewed-restaurants-list-title {
  font-size: 3vw;
  font-weight: 900;
  color: #2D2E2F;
}

.reviewed-restaurants-container {
  margin-top: 1.5em;
}

.reviewed-restaurant {
  border: 1px solid red;
}

.restaurant-thumbnail {
  width: 42%;
}

.restaurant-thumbnail img {
  width: inherit;
  height: 7vw;
  object-fit: cover;
  border-radius: 4px;
}

.restaurant-thumbnail,
.text-container {
  display: inline-block;
}

.text-container {
}

.empty-reviewed-restaurants-list {
  margin-top: 0.5em;
  font-size: 1.2vw;
  color: #2D2E2F;
}