.reviews-list-title {
  font-size: 3vw;
  font-weight: 900;
  color: #2D2E2F;
}

.reviews-list-container {
  margin-top: 1.5vw;
}

.reviewed-restaurant {
  border-bottom: 1px solid #EBEBEB;
  padding: 2vw 0px;
}

.reviewed-restaurant:first-child {
  padding-top: 0px;
}

.reviewed-restaurant:last-child {
  border-bottom: none;
}

.restaurant-basic-info {
  display: flex;
  align-items: center;
}

.restaurant-thumbnail img {
  width: 11vw;
  height: 7vw;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 1vw;
  cursor: pointer;
}

.reviewed-restaurant-name {
  font-weight: bold;
  font-size: 1.4vw;
  color: #2D2E2F;
  cursor: pointer;
}

.reviewed-restaurant-name:hover {
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.07vw;
}

.reviewed-restaurant-category {
  color: #6E7072;
  font-size: 1vw;
  font-weight: 600;
  margin-top: 0.7em;
}

.reviewed-restaurant-address {
  margin-top: 0.7em;
  color: #6E7072;
  font-size: 1vw;
}

.reviewed-restaurant-city,
.reviewed-restaurant-state {
  margin-right: 0.5em;
}

.associated-review {
  padding-right: 4vw;
  margin-top: 1vw;
}

.rating-time-container {
  display: flex;
  align-items: center;
  margin-bottom: 0.5vw;
}

.associated-review-rating {
  margin-right: 0.5vw;
}

.associated-review-time {
  font-size: 1.1vw;
  color: rgba(110, 112, 114);
}

.associated-review-body {
  font-size: 1.1vw;
  line-height: 1.2em;
  text-align: justify;
  color: #2D2E2F;
}

.pg-more-options-btn {
  position: relative;
  top: -2.5vw;
  left: 25vw;
}

@media screen and (width <= 1440px) {
  .pg-more-options-btn {
    left: 24.5vw;
  }
}

@media screen and (width <= 1300px) {
  .pg-more-options-btn {
    left: 24vw;
  }
}

@media screen and (width <= 1100px) {
  .pg-more-options-btn {
    left: 23.7vw;
  }
}

@media screen and (width <= 1000px) {
  .pg-more-options-btn {
    left: 23.3vw;
  }
}

@media screen and (width <= 900px) {
  .pg-more-options-btn {
    left: 23vw;
  }
}

@media screen and (width <= 800px) {
  .pg-more-options-btn {
    left: 24.1vw;
  }
}

.empty-reviewed-restaurants-list {
  margin-top: 0.5em;
  font-size: 1.2vw;
  color: #2D2E2F;
}